<div class="modalSimple">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Titre modal</font></font></h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Fermer">
          <span aria-hidden="true"></span>
        </button>
      </div>
      <div class="modal-body">
        <p><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Le corps du texte modal va ici.</font></font></p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-primary"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Enregistrer les modifications</font></font></button>
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Fermer</font></font></button>
      </div>
    </div>
  </div>
</div>